body {
  background-color: #082b59;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  line-height: 2;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  margin-top: 0;
}
h1 {
  font-size: 3rem;
  margin-bottom: 0;
}
/* make images flexible */
img {
  max-width: 100%;
}
a {
  color: #59331d;
}
a:hover {
  text-decoration: none;
}
header {
  border-bottom: 10px solid #d98555;
}
/* navbar styling */
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}
nav li {
  margin: 0 1rem 1rem 1rem;
  font-size: 1.3rem;
}
/* max width on the image in pixels */
nav .logo img {
  max-width: 150px;
}
/* flex basis on the image container, li */
nav .logo {
  flex-basis: auto;
  margin-right: auto;
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
}
nav a:hover {
  color: #d98555;
}
/* establishes a white background */
.main-bkgd {
  background: #ffffff url(media/gulp-bottom-beans.jpg) repeat-x bottom;
  padding-bottom: 300px;
}
/* sits inside of the white background, centered */
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
article {
  flex-basis: 73%;
}

.image-container {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.image-container img {
  border-radius: 10px;
}

.grid {
  padding: 2rem;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.product-list .box-1,
.product-list .box-2,
.product-list .box-3,
.product-list .box-4,
.product-list .box-5,
.product-list .box-6 {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
}

.product-list h2,
.product-list p {
  text-align: left;
}

@media only screen and (max-width: 991px) {
  nav ul {
    justify-content: center;
  }

  nav .logo {
    text-align: center;
    flex-basis: 100%;
    margin-right: 0;
  }

  .content {
    flex-direction: row;
  }

  .image-container picture {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
  }
}

@media only screen and (max-width: 767px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .content {
    flex-direction: column;
    justify-content: center;
  }

  .image-container {
    margin-left: 0rem;
  }

  .image-container picture {
    width: 100%;
    padding-top: 2rem;
  }

  .image-container picture img {
    width: 100%;
  }

  .product-list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

picture {
  margin: 0 0 0;
  border-radius: 10px;
}
picture img {
  border-radius: 10px;
}

.button {
  display: inline-block;
  background-color: #59331d;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0;
  color: #f2f2f2;
  text-decoration: none;
  border: 3px solid #59331d;
}
.button:hover {
  background-color: #f2f2f2;
  color: #59331d;
}
footer {
  color: #f2f2f2;
  text-align: center;
  border-top: 10px solid #d98555;
  padding: 2rem;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
footer a {
  color: #f2f2f2;
  font-size: 2rem;
  display: block;
  margin: 0 1rem 3rem 1rem;
}
